extends layout


block content
    #wrapper
        #display
            table.fixed
                col(width='500px')
                td
                    form(method='get', action='/upload')
                        button.stopButton(type='submit') Uploads
                td
                    form(method='post')
                        | Submit the text you want the hat to speak
                        div
                            input.textBox(type='text', name='tts')
                            input.speakButton(type='submit', value='Dildo Speak')

        #logo
            a(href='/')
                img(src='/images/dildo.jpg')