extends layout



block content
    #wrapper
        #display
            #login
                form(method="post", enctype="multipart/form-data")
                    input(type="file", name="sound")
                    input.uploadButton(type='submit', value='upload dildo sound')
            #logo
            -for (var id in sounds)
                -var sound = sounds[id]
                table.fixed
                    col(width='500px')
                    td
                        text.soundText #{sound}
                    td
                        form(method='post')
                            input.playButton(type='submit', value='Play', name='#{sound}')
                    td
                        form(method='post')
                            input.deleteButton(type='submit', value='Delete', name='#{sound}')
                    td
                        form(method='post')
                            input.stopButton(type='submit', value='Stop', name='#{sound}')

            img(src='/images/sexy_hair.jpg')

